.main-nav {
	padding: 15px;
	text-align: center;
}
.main-nav li {
	list-style: none;
	display:inline-block;
	text-transform: uppercase;
	padding: 5px 10px;
}
.main-nav li a {
	text-decoration: none;
	color: #454545;
	font-weight: bold;
}
.main-nav li a:hover {
	color: maroon;
}

/* Submitted by: Kristine Costo */

* {
	padding: 0;
	margin: 0;
}

.italic {
	font-style: italic;
}

body {
	font-family: lucida console;
	background-color: lightgray;
}

/* Target the Unordered List. */

.navigation, .footer {
	background: #8a3324;
	padding: 10px;
	text-align: center;
}

/* Target the list contents. */

.navigation li {
	font-size: 14px;
	list-style: none;
	display: inline-block;
	margin: 0 5px;
	border: yellow solid 1px;
	border-radius: 5px;
	padding: 3px 10px;
	color: yellow;
}

/* Change the color of the navbar button into white when hovered. */
.navigation li:hover {
	color: white;
	border: white solid 1px;
}

/* Change the color of the navbar button into white when clicked/active. */
.navigation li:active {
	background-color: white;
}

.hero-banner {
	background-image: url(https://image.shutterstock.com/image-photo/food-ingredients-italian-pasta-spaghetti-260nw-795280564.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 260px;
	text-align: center;
	color: white;
}

h1 {
	padding-top: 100px;
}

.container {
	width: 750px;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
}

.oven-baked {
	border: #8a3324 solid 3px;
	margin-right: 40px;
	border-radius: 10px;
	padding: 15px;
	background-color: white;
}

.oven-baked h2 {
	margin-bottom: 30px;
	margin-top: 5px;
}

.menu {
	border-top: #8a3324 solid 1.5px;
}

.menu h3 {
	margin-bottom: 15px;
	font-size: 17px;
	padding-left: 20px;
	border-left: #8a3324 solid 3px;
	margin-top: -1px;
}

/* Change the font-size of every first character of <h3> into 40px. */

.menu h3::first-letter {
	font-size: 40px;
}

.menu .description {
	display: flex;
}

.menu .text {
	padding: 10px 30px;
	width: 300px;
}

.text p {
	margin: 10px 0;
	font-size: 11px;
}

/* Add underline on the first line of every paragraph. */

.text p::first-line {
	text-decoration: underline;
}

.description img {
	border-radius: 50%;
}

.link {
	color: sienna;
	text-decoration: underline;
}

.color-brown {
	color: #8a3324;
}

.ad-image img {
	width: 100%;

}

.ad-text {
	background-color: white;
	margin-top: -4px;
	padding: 15px;
	font-family: sans-serif;
	font-size: 13.5px;
}

.footer {
	color: white;
	margin-top: 20px;
}