.main-nav {
	padding: 15px;
	text-align: center;
}
.main-nav li {
	list-style: none;
	display:inline-block;
	text-transform: uppercase;
	padding: 5px 10px;
}
.main-nav li a {
	text-decoration: none;
	color: #454545;
	font-weight: bold;
}
.main-nav li a:hover {
	color: maroon;
}


* {
	margin: 0;
	padding: 0;
	font-family: "helvetica";
}

textarea, input {
	display: block;
}

/* Make the width of the Chatbox 500px */
.chatbox {
	border: gray solid 1px;
	width: 500px;
	margin: 0 auto;
	padding: 15px;
}

.header {
	text-align: center;
	border-bottom: #e3e3e3 solid 1px;
	margin-bottom: 5px;
}

.last-active-date {
	margin-bottom: 5px;
}

.container {
	border-bottom: #e3e3e3 solid 1px;
	padding-bottom: 15px;
}

.message-balloon-avatar img{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	border: white solid 1px;
	padding: 3px;
	background: #1d66c1;
}
.align-right {
	text-align: right;
}
.message-balloon {
	padding: 30px;
	background: #3384e8;
	border-radius: 50px;
}

.message-balloon-text {
	color: whitesmoke;
	font-size: 13px;
	line-height: 1.5;
	font-weight: 300;
}

.message-balloon-datetime {
	font-size: 13px;
	text-align: center;
	padding: 5px;
	color: #727272;
}

.send-message-box {
	text-align: center;
}

.send-message-box textarea {
	padding: 15px 32px;
	border-radius: 15px;
	border: #ddd solid 1px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 430px;
}

.button {
	padding: 15px 25px;
	background: #146ddc;
	border: none;
	color: white;
	margin: 0 auto;
}

